@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

#navbar a.active {
  padding-bottom: 2px;
  background-color: transparent;
  color: gold;
  border-bottom: 3px solid gold;
  border-radius: 0;
}

#sideBar a.active {
  color: white;
  background-color: transparent;
}

.selected {
  background-color: rgb(44, 116, 251);
}

#tourTypeId::-webkit-scrollbar {
  height: 5px;
}

#tourTypeId::-webkit-scrollbar-thumb {
  background: slategray;
  border-radius: 10px;
}

#tourTypeId::-webkit-scrollbar-thumb:hover {
  background: rgb(47, 67, 92);
}

#tourTypeId::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
